
body {padding: 0px; margin:0px; background:#ffffff ; background-position: center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;}



.header{
  height: 100px;
  box-shadow: 1px 1px 5px 0px #D3D3D3;
  width: 100%;
  min-width: 1300px;
}

.menuBar{
    width: 47px;
    height: 32px;
    font-size: 17px;
    float: right;
    line-height: 32px;
    text-align: center;
    margin-left: 8px;
    cursor: pointer;

}

.menuBar_tag_a{
    color: #000000;
}

.iorn{
  background:url(../img/birds2.png) ;background-position: 30px;  background-repeat: no-repeat;background-size:65px 65px;
  height: 100px;
}

.iornHref{
  position: absolute;
  height:100px;
  width: 280px;
  cursor: pointer;
}

.my{
    position: absolute;
    width: 100%;
    min-width: 1300px;
    top: 35px;
    font-size: 18px;
    text-align: right;
    left: -30px;
}

a{

  text-decoration:none !important;
  position: relative;
  top: 0px;
}



.page-container {
  position:relative;
  top: 5px;
  left: 150px;
  height: 90px;
  width: 300px;
}

input {
    width: 380px;
    height: 37px;
	line-height:37px;
    margin-top: 37px;
    padding: 0 10px;



    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 1px 1px 4px 0px #D3D3D3;

    font-size: 15px;
    color: black;
    border-radius: 4px;
}

input:-moz-placeholder { color: #fff; }
input:-ms-input-placeholder { color: #fff; }
input::-webkit-input-placeholder { color: #fff; }

input:focus {
    outline: none;
}

input::-webkit-input-placeholder{
      color:black;
      opacity: 0.5;
      font-size: 13px;
}

.searchButton {
    width: 35px;
    height: 35px;
    position:relative;
    top: -35px;
    left: 370px;
      cursor: pointer;
}



.detail{
  width: 450px;
  height: 350px;
  position: absolute;
  top:43px;
  left: 800px;
  box-shadow: 1px 1px 10px 0px #D3D3D3;
  border-radius: 10px;

}

.detailTop{
  position: relative;
  width: 450px;
  height: 150px;
  border:1px solid #E6E9ED;
  border-style:none none double none;

}

.info{
  float: left;
  width: 325px;
  height: 150px;
  margin-left: 15px;
}

.bookTitle{
  margin-top: 30px;
  font-size: 20px;

}

.bookTitle_tag_a{
    color: #000000;
}

.douInfo{
  margin-top: 20px;
}


.lable{
  float: left;
  background: #55B73A;
  color: #ffffff;
  border-radius: 3px 0 0 3px;
  height: 21px;
  width: 36px;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
  font-weight:800;
}

.score{
  float: left;
  color: #55B73A;
  border-radius:0 3px 3px 0;
  height: 19px;
  width: 34px;
  font-size: 14px;
  text-align: center;
  display: table-cell;
  vertical-align:middle;
  border-style:solid;
  border-width:1px;
  font-weight:800;
}

.type{
  float: left;
  color: #A3A3A3;
  height: 11px;
  font-size: 11px;
  text-align: center;
  margin-left:5px;
  margin-top: 2px;

}

.img{
  float: left;
  width: 110px;
  height: 150px;
}

.detailImg{
  border-radius:0 10px 0 0;
}

.douInfo2{
  margin-left: 15px;
  height: 199px;
}

.abstract{
  margin-top: 10px;
  height: 100px;
  color: #363636;
  font-size: 13px;

}

.director{
  margin-top: 18px;
  height: 13px;
  color: #363636;
  font-size: 13px;
}

.actor{
  margin-top: 18px;
  height: 13px;
  color: #363636;
  font-size: 13px;
}

.activity{
  width: 450px;
  height: 250px;
  position: absolute;
  top:410px;
  left: 800px;
  box-shadow: 1px 1px 10px 0px #D3D3D3;
  border-radius: 10px;
}

.tian{
  height: 20px;
  margin-top: 30px;
  margin-left: 15px;
}

.tianName{
  float: left;
  background: #F1E7F5;
  color: #863BA9;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.tianActivity{
  float: left;
  background: #F1E7F5;
  color: #863BA9;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.jing{
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.jingName{
  float: left;
  background: #FCEBF3;
  color: #EA649D;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.jingActivity{
  float: left;
  background: #FCEBF3;
  color: #EA649D;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.dang{
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.dangName{
  float: left;
  background: #E7F0FA;
  color: #569BDD;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.dangActivity{
  float: left;
  background: #E7F0FA;
  color: #569BDD;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.ya{
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.yaName{
  float: left;
  background: #FDF1E7;
  color: #F49F5E;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.yaActivity{
  float: left;
  background: #FDF1E7;
  color: #F49F5E;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.zhong{
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.zhongName{
  float: left;
  background: #F9E6E7;
  color: #D73E3F;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.zhongActivity{
  float: left;
  background: #F9E6E7;
  color: #D73E3F;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 3px;
}

.douban{
  width: 450px;
  height: 240px;
  position: absolute;
  top:410px;
  left: 800px;
  box-shadow: 1px 1px 10px 0px #D3D3D3;
   cursor: pointer;
}

.doubanImg{
  position: absolute;
  width: 450px;
  height: 255px;

}

.doubanImg2{
  position: absolute;
  width: 350px;
  height: 255px;
  padding-left: 100px;

}




.list{
  width: 100%;
  height: 700px;
}


.hot{
  background: rgba(0, 0, 0, 0);
  width: 550px;
  height: 150px;
  position: relative;
  box-shadow: 1px 1px 10px 0px #D3D3D3;
  z-index: 3;
}


img{

}

p{
  color: black;
}

.book-detail{
  position: absolute;
  top: 0px;
  left: 140px;
  height: 140px;
  width: 370px;
}

.addList{
    margin-top: 11px;
    position: absolute;
    top: 0px;
    left: 510px;
    height: 40px;
    width: 40px;
}

.one{
  width: 400px;
  height: 70px;
  margin-bottom: 12px;
}

.two{
  width: 300px;
  height: 35px;
}

.three{
  width: 300px;
  height: 25px;
}

.pfm{
  background: #E7F0FA;
  float: left;
  color: #418ED9;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 3px;

}

.bookName{
    width: 380px;
    margin-top: 8px;
    font-size: 17px;
    color: #EB9988;
}

.price{
  margin-top: 2px;
  font-size: 17px;
  color: #EB9988;

}

.ctt{
  background: #FDF1E7;
  float: left;
  color: #F3934D;
  font-size: 13px;
  border-radius: 3px;
}

.store{
  background: #F1E7F5;
  float: left;
  color: #863BA9;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 3px;
}

.postage{

  background: #F9E6E7;
  float: left;
  color: #D3312F;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 3px;
}

.reduce{

  background: #FCEBF3;
  float: left;
  color: #EA5692;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 3px;
}




.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top:6%;
    left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 48px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:70px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    border-radius: 100px;
    width:550px;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 35px;
    padding:0px 70px 0px 20px;
    opacity: 0;
    position: absolute;
    top:-3px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width:0px;
    height:0px;
    right: 45px;
    top: 10px;      /*关闭时 紫色搜索框位置*/
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 0px;
    height:0px;
    margin: 15px;
    right: 20px;        /*展开时 紫色搜索框位置*/
    top: -4px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
.search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #974BE0;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 1px;
    border-radius: 16px;
    border: 4px solid #974BE0;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FFF;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:80px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display:none;
    color:#B7B7B7;
}


@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {width:200px;}
}


.chartBtn{
    position: absolute;
    top:145px;
    left: 563px;
    width: 35px;
    height: 35px;
    font-size: 13px;
    line-height: 36px;
    background: url("../img/chart2.png");
    background-size:28px 32px;
    background-repeat: no-repeat;
    cursor: pointer;
}



.ensure {

    position: fixed;
    width: 300px;
    height: 150px;
    background: #FFFFFF;
    margin: auto;
    left: 0;
    right: 0;
    top: 45%;
    border: 4px double #E07A60;
    border-radius: 10px;
}

.ensureText{
    position: relative;
    text-align:center;
    height: 30px;
    margin: auto;
    left: 0;
    right: 0;
    top:30px;

}

#button1{

    position: relative;
    text-align:center;
    width: 50px;
    top:55px;
    left: 55px;
    color: #E07A60;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 0px #D3D3D3;
    cursor: pointer;
}

#button2{

    position: relative;
    text-align:center;
    width: 50px;
    top:33px;
    left: 200px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 0px #D3D3D3;
    cursor: pointer;
}

#addResult{
    position: absolute;
    top: 100px;
    background: #0A64A4;
    width: 200px;
    height: 100px;
}