<div class="detailTop">
						<div class="info">
								<div class="bookTitle"><a href="{{ allUnivList.9|default:"/" }}" class="bookTitle_tag_a" target="_blank"> {{ allUnivList.0 |default:"日月星杀人事件" }}</a></div>
								<div class="douInfo">
										<div class="lable">豆瓣</div>
										<div class="score">{{ allUnivList.1|default:"7.5"  }}</div>
										<div class="type">{{ allUnivList.2 |default:"2019"}} ‧ {{ allUnivList.3|default:"推理"}}/{{ allUnivList.4 |default:"午夜"}}</div>
								</div>
						</div>
						<div class="img">
							<div class="tile">
								      <img src="{{ allUnivList.5|default:"../../static/rabbit/img/default.jpg" }}" style="width:110px;height:150px;">
								      <p class="menu"></p>
  						    </div>
						</div>
</div>
<div class="douInfo2">
        <div class="abstract">{{ allUnivList.6|default:"一位推理小说家的殒命，将陈默思与陆宇拉进了诡异的犯罪旋涡之中。两人代替死者前往日月山庄做客，无意间得知，十年前曾有个天文爱好者团队在此聚会，其间发生了命案。当事人对此讳莫如深，却有人不断通过各种方式暗示，当年案件的凶手仍未伏法血案伴随着风雪再度降临日月山庄，陈默思能将眼前和过去的凶手一并抓获吗？"  }}</div>
        <div class="director">作者: {{ allUnivList.7|default:"青稞"  }} </div>
        <div class="actor">出版社: {{ allUnivList.8|default:"新星出版社"  }}</div>
</div>



