<!doctype html>
<html lang="zh">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{{ bookname }} - 搜语</title>

	<link rel="stylesheet" type="text/css" href="../../static/rabbit/css/twoSearch.css">
    <link rel="stylesheet" type="text/css" href="../../static/rabbit/css/loaders.css">
	<link rel="stylesheet" type="text/css" href="../../static/rabbit/css/button.css">
	<link href="../../static/rabbit/filter/filter/filter.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../static/rabbit/css/hover.css">
	<!--[if IE]>
		<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>





</head>
<body>




	<div class="header">


		<div class="my">

                    <div class="menuBar">
                        {% if request.session.is_login %}
                                    <a class="menuBar_tag_a" href="/logout">登出</a>
                        {% else %}
                                    <a class="menuBar_tag_a" href="/login">登录</a>
                        {% endif %}
                    </div>
                    <div class="menuBar">
					    <a class="menuBar_tag_a" href="/my">书单</a>
                    </div>
	    </div>

        <div class="iorn">
                <a href="{% url 'index' %}"><div class="iornHref"></div></a>
        </div>
	</div>



















        <div class="page-container">
			<input type="text" id="bookname" name="username" class="username" placeholder="" autocomplete="off" onkeydown="if(event.keyCode==13) searchToggle()" value={{ bookname }}>
				<div class="searchButton" onclick="searchToggle();"><img src="../../static/rabbit/img/search.png" style="width:30px; height:30px;"></img></div>
		</div>


        <div class="list" id="list">
            <div class="loader">

                    <div class="loader-inner ball-clip-rotate-multiple">

                          <div></div>

                          <div></div>

                    </div>
            </div>

		</div>

        <div id="ensure" class="ensure" style="display: none ;">
            <div class="ensureText">确认加入书单？</div>
            <div class="but" id="button1" var="1" onclick="aaa()">确认</div>
            <div class="but" id="button2" var="2" onclick="bbb()">取消</div>
        </div>

        <!--<div id="addResult" class="addResult">

        </div>-->





	<script type="text/javascript">
        function searchToggle(){
            var bookname=document.getElementById("bookname").value;
            bookname=bookname.replace(/\s+/g,"");
            if(bookname=="")
                return;
            var bookurl="3"+'&'+bookname;
            window.location.href=bookurl;
        }

        $(function() {
            var url=window.location.href;
            $.get(url,{'flag':"1"},     //post函数到后端
            function(data,status){              //回调函数
                 $("#list").html(data);      //将id为pstable的标签的html替换为返回的data
            });

		});

    </script>


</body>
</html>
